<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 w-full overflow-x-hidden p-2">
  <mat-card
    class="bg-white! p-5 shadow-2xl rounded-2xl! flex items-center gap-4 transition hover:shadow-lg! hover:-translate-y-1"
  >
    <div class="flex flex-row justify-between w-full items-center gap-4">
      <!-- Text -->
      <div class="flex flex-col">
        <p class="text-gray-500 text-sm">Total Users</p>
        <h2 class="text-2xl font-family-sans font-weight-700 font-bold">
          {{ dashboardData?.totalUsers }}
        </h2>
      </div>
      <div class="bg-blue-100 p-3 rounded-lg">
        <mat-icon class="text-blue-600">groups</mat-icon>
      </div>
    </div>
  </mat-card>

  <mat-card
    class="bg-white! p-5 shadow-2xl rounded-2xl! flex items-center gap-4 transition hover:shadow-lg! hover:-translate-y-1"
  >
    <div class="flex flex-row justify-between w-full items-center gap-4">
      <div class="flex flex-col">
        <p class="text-slate-500 text-sm">Events</p>
        <h2 class="text-3xl font-bold font-family-sans font-weight-700 text-slate-600">
          {{ dashboardData?.totalEvents }}
        </h2>
      </div>
      <div class="bg-green-100 p-3 rounded-lg">
        <mat-icon class="text-green-600">event</mat-icon>
      </div>
    </div>
  </mat-card>

  <mat-card
    class="bg-white! p-5 shadow-2xl rounded-2xl! flex items-center gap-4 transition hover:shadow-lg! hover:-translate-y-1"
  >
    <div class="flex flex-row justify-between w-full items-center gap-4">
      <div class="flex flex-col">
        <p class="text-slate-500 text-sm">Waste Reports</p>
        <h2 class="text-3xl font-bold font-family-sans font-weight-700 text-slate-600">
          {{ dashboardData?.totalWasteReports }}
        </h2>
      </div>
      <div class="bg-red-100 p-3 rounded-lg">
        <mat-icon class="text-red-600">delete</mat-icon>
      </div>
    </div>
  </mat-card>

  <mat-card
    class="bg-white! p-5 shadow-2xl rounded-2xl! flex items-center gap-4 transition hover:shadow-lg! hover:-translate-y-1"
  >
    <div class="flex flex-row justify-between w-full items-center gap-4">
      <div class="flex flex-col">
        <p class="text-slate-500 text-sm">Pending Requests</p>
        <h2 class="text-3xl font-bold font-family-sans font-weight-700 text-slate-600">
          {{ dashboardData?.pendingOrganizerRequests }}
        </h2>
      </div>
      <div class="bg-amber-100 p-3 rounded-lg">
        <mat-icon class="text-amber-600">hourglass_top</mat-icon>
      </div>
    </div>
  </mat-card>
</div>
<div class="grid lg:grid-cols-2 gap-6 p-2">
  <mat-card class="bg-white! h-90 p-4 border border-slate-200 shadow-sm">
    <div class="flex items-center justify-between mb-4">
      <h3 class="font-family-heading font-weight-600 text-lg font-semibold text-gray-800">
        Upcoming Events
      </h3>

      <button mat-button class="text-teal-600 text-sm cursor-pointer" routerLink="/find-events">View All</button>
    </div>
    <mat-divider></mat-divider>
    <div class="overflow-y-auto flex-1 pr-2 space-y-4 mt-2">
      @for (event of dashboardData?.upcomingEvents; track event.Id) {
        <div class="flex items-start gap-4 p-3 rounded-lg hover:bg-gray-50 transition">
          <div class="bg-slate-400 text-slate-700 p-2 rounded-lg">
            <mat-icon>event</mat-icon>
          </div>

          <div class="flex-1">
            <p class="font-medium text-gray-800">
              {{ event.title }}
            </p>

            <div class="text-sm text-gray-500 flex gap-4 mt-1">
              <span class="flex items-center gap-1">
                <mat-icon class="text-base">schedule</mat-icon>
                {{ event.eventDate | date: 'short' }}
              </span>

              <!-- <span class="flex items-center gap-1">
                <mat-icon class="text-base">place</mat-icon>
                {{ event.locationName }}
              </span> -->
            </div>
          </div>

          <span class="text-xs bg-teal-800 text-white px-2 py-1 rounded">
            {{ event.status }}
          </span>
        </div>
      }
    </div>
  </mat-card>

  <mat-card class="bg-white! h-90 p-4 border border-slate-200 shadow-sm">
    <div class="flex items-center justify-between mb-4">
      <h3 class="font-family-heading font-weight-600 text-lg font-semibold text-gray-800">
        Recent Waste Reports
      </h3>

      <button mat-button class="text-teal-600 text-sm cursor-pointer" routerLink="/waste-reports">View All</button>
    </div>
    <mat-divider></mat-divider>
    <div class="overflow-y-auto flex-1 pr-2 space-y-4 mt-2">
      @for (report of dashboardData?.recentReports; track report.Id) {
        <!-- Report -->
        <div class="flex items-start gap-4 p-3 rounded-lg hover:bg-gray-50 transition">
          <div class="bg-red-100 text-red-600 p-2 rounded-lg">
            <mat-icon>delete</mat-icon>
          </div>

          <div class="flex-1">
            <p class="font-medium text-gray-800">{{ report.description }}</p>

            <div class="text-sm text-gray-500 mt-1 flex gap-4">
              <span class="flex items-center gap-1">
                <mat-icon class="text-base">person</mat-icon>
                {{ report.reportedBy }}
              </span>

              <span class="flex items-center gap-1">
                <mat-icon class="text-base">schedule</mat-icon>
                {{ report.createdAt | date: 'short' }}
              </span>
            </div>
          </div>

          <span
            class="px-3 py-1 text-xs font-semibold rounded-full"
            [ngClass]="{
              'bg-yellow-100 text-yellow-700': report?.status === 'Pending',
              'bg-green-100 text-green-700': report?.status === 'Approved',
              'bg-red-100 text-red-700': report?.status === 'Rejected',
            }"
          >
            {{ report.status }}
          </span>
        </div>
      }
    </div>
  </mat-card>
</div>
