/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

@theme {
   /* Overrides the default 'font-sans' utility */
  --font-family-sans: "Inter", ui-sans-serif, system-ui, sans-serif;

  /* Creates a new 'font-heading' utility */
  --font-family-heading: "Poppins", sans-serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* 1. The default border color (Light Grey) */
.mat-mdc-form-field .mdc-notched-outline__leading,
.mat-mdc-form-field .mdc-notched-outline__notch,
.mat-mdc-form-field .mdc-notched-outline__trailing {
  border-color: #e2e8f0 !important; /* Tailwind slate-200 */
}

/* 2. The hover state (Slightly darker grey) */
.mat-mdc-form-field:hover .mdc-notched-outline__leading,
.mat-mdc-form-field:hover .mdc-notched-outline__notch,
.mat-mdc-form-field:hover .mdc-notched-outline__trailing {
  border-color: #cbd5e1 !important; /* Tailwind slate-300 */
}

/* 3. The focused state (Your Teal brand color) */
.mat-mdc-form-field.mat-focused .mdc-notched-outline__leading,
.mat-mdc-form-field.mat-focused .mdc-notched-outline__trailing {
  border-color: #334155 !important; /* Teal-500 */
  border-width: 2px !important;
}

.mat-mdc-form-field.mat-focused .mdc-notched-outline__notch{
  border-color: #334155 !important; /* Make the notch border transparent */
}

.mdc-notched-outline__notch {
  border-right: none;
  border-left-color: transparent !important;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
  padding: 0 !important;
}
.mat-mdc-dialog-content {
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}

.mat-mdc-dialog-actions {
  padding-bottom: 16px !important; /* Adjust this for your preferred bottom gap */
  min-height: unset !important;
}

.animated-teal-bg {
  background: linear-gradient(-45deg, #022e35, #0C7779, #8aded7, rgb(117, 201, 201));
  background-size: 350% 350%;
  animation: gradientBG 10s ease infinite;
}

@keyframes gradientBG {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.otp-input {
  @apply w-12 h-14 text-center text-xl font-semibold
  border border-gray-300 rounded-lg
  focus:outline-none focus:ring-2 focus:ring-teal-800;
}


::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}

/* Define the fade and shrink animation */
@keyframes vanish {
  0% { opacity: 1; height: auto; margin-bottom: 1rem; }
  100% { opacity: 0; height: 0; margin-bottom: 0; padding: 0; overflow: hidden; }
}

.card-vanish {
  animation: vanish 0.5s ease-out forwards;
}