/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mdc-notched-outline__notch {
  border-right: none;
}

.animated-teal-bg {
  background: linear-gradient(-45deg, #022e35, #0C7779, #8aded7, rgb(117, 201, 201));
  background-size: 350% 350%;
  animation: gradientBG 10s ease infinite;
}

@keyframes gradientBG {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.otp-input {
  @apply w-12 h-14 text-center text-xl font-semibold
  border border-gray-300 rounded-lg
  focus:outline-none focus:ring-2 focus:ring-teal-800;
}
