<aside class="w-64 bg-green-700 text-white flex flex-col">

  <div class="p-6 text-2xl font-bold border-b border-green-600">
    Eco Dashboard
  </div>

  <nav class="flex-1 p-4 space-y-2">

    <a routerLink="/dashboard"
       class="block px-4 py-2 rounded hover:bg-green-600">
       Dashboard
    </a>

    <a routerLink="/events"
       class="block px-4 py-2 rounded hover:bg-green-600">
       Events
    </a>

    <a routerLink="/reports"
       class="block px-4 py-2 rounded hover:bg-green-600">
       Waste Reports
    </a>

  </nav>

</aside>