<div class="min-h-screen flex items-center justify-center bg-slate-900 p-6">
  <div class="max-w-md w-full bg-amber-50 rounded-xl shadow-2xl p-8">

    @switch (currentStep) {
    @case ('request') {
    <h2 class="text-2xl font-semibold mb-2 text-center">Forgot Password</h2>

    <p class="text-gray-500 mb-6 text-center">Reset your account password</p>
    <!-- STEP 1 EMAIL -->
    <form [formGroup]="emailForm" (ngSubmit)="requestOtp()" class="space-y-4">
      <mat-form-field floatLabel="auto" hideRequiredMarker="true" appearance="outline" class="w-full">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />

        @if (emailForm.controls['email'].touched && emailForm.controls['email'].hasError('required')) {
        <mat-error> Email is required. </mat-error>
        }

        @if (emailForm.controls['email'].touched && emailForm.controls['email'].hasError('email')) {
        <mat-error> Email is invalid.</mat-error>
        }
      </mat-form-field>

      <button mat-raised-button color="primary" class="w-full bg-teal-800! text-white!">
        Send OTP
      </button>
    </form>
    }
    @case ('verify') {
    <!-- <form [formGroup]="otpForm" (ngSubmit)="verifyOtp()" class="space-y-4">
        <mat-form-field
          floatLabel="auto"
          hideRequiredMarker="true"
          appearance="outline"
          class="w-full"
        >
          <mat-label>OTP</mat-label>
          <input matInput formControlName="otp" />
           <mat-error *ngIf="otpForm.controls.otp.hasError('required')"> OTP is required.</mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" class="w-full bg-teal-800! text-white!">
          Verify OTP
        </button>
      </form> -->
    <!-- Title -->
    <h2 class="text-2xl font-bold text-center text-gray-800 mb-2">
      Verify Your Email
    </h2>

    <p class="text-center text-gray-500 text-sm mb-6">
      Enter the 6‑digit code sent to your email
    </p>

    <!-- OTP Inputs -->
    <div class="flex justify-center gap-3 mb-1">

      <input #otp1 maxlength="1" class="otp-input" (input)="moveNext($event, otp2)" />

      <input #otp2 maxlength="1" class="otp-input" (input)="moveNext($event, otp3)"
        (keydown)="movePrev($event, otp1)" />

      <input #otp3 maxlength="1" class="otp-input" (input)="moveNext($event, otp4)"
        (keydown)="movePrev($event, otp2)" />

      <input #otp4 maxlength="1" class="otp-input" (input)="moveNext($event, otp5)"
        (keydown)="movePrev($event, otp3)" />

      <input #otp5 maxlength="1" class="otp-input" (input)="moveNext($event, otp6)"
        (keydown)="movePrev($event, otp4)" />

      <input #otp6 maxlength="1" class="otp-input" (keydown)="movePrev($event, otp5)" />

    </div>
    @if (showError()) {
    <span class="block text-red-600 text-xs font-medium animate-in fade-in slide-in-from-top-1 p-2">
      {{ errorMessage() }}
    </span>

    }
    <!-- Verify Button -->
    <button mat-raised-button
      (click)="verifyOtp({ otp1: otp1.value, otp2: otp2.value, otp3: otp3.value, otp4: otp4.value, otp5: otp5.value, otp6: otp6.value })"
      color="primary" class="w-full bg-teal-800! text-white!">
      Verify OTP
    </button>

    <!-- Resend -->
    <div class="text-center mt-4 text-sm text-gray-600">
      Didn't receive code?

      <button mat-button color="primary" class="text-white font-semibold">
        Resend
      </button>

    </div>
    }
    @case ('reset') {
    <h2 class="text-2xl font-bold text-center text-gray-800 mb-2">
      Reset Your Password
    </h2>

    <p class="text-center text-gray-500 text-sm mb-6">
      Enter your new password below.
    </p>
    <form [formGroup]="passwordForm" (ngSubmit)="resetPassword()" class="space-y-4">
      <mat-form-field floatLabel="auto" hideRequiredMarker="true" appearance="outline" class="w-full">
        <mat-label>New Password</mat-label>
        <input matInput type="password" formControlName="password" />
        @if(passwordForm.controls['password'].touched && passwordForm.controls['confirmPassword'].hasError('required'))
        {
        <mat-error>
          Password is required.</mat-error>
        }
        @if(passwordForm.controls['password'].touched && passwordForm.controls['password'].hasError('pattern')) {
        <mat-error>
          Password must contain at least 8 characters, including uppercase, lowercase, number, and a
          special character.</mat-error>
        }
      </mat-form-field>

      <mat-form-field floatLabel="auto" hideRequiredMarker="true" appearance="outline" class="w-full">
        <mat-label>Confirm Password</mat-label>
        <input matInput type="password" formControlName="confirmPassword" />
        @if(passwordForm.controls['confirmPassword'].touched &&
        passwordForm.controls['confirmPassword'].hasError('required')) {
        <mat-error>
          Password confirmation is required. </mat-error>
        }
        @if(passwordForm.controls['confirmPassword'].touched &&
        passwordForm.controls['confirmPassword'].hasError('passwordMismatch')) {
        <mat-error>
          Passwords do not match.</mat-error>
        }

      </mat-form-field>

      <button mat-raised-button color="primary" class="w-full bg-teal-800! text-white!">
        Reset Password
      </button>
    </form>
    }
    @case ('completed') {
    <div class="text-center">
      <p class="text-green-600 font-medium mb-4">Password reset successful!</p>

      <a routerLink="/login" class="text-teal-700 font-medium"> Back to Login </a>
    </div>
    }
    }
  </div>
</div>