<div class="min-h-screen flex items-center justify-center  bg-slate-950 border-teal-500/20">
  <div class="grid grid-cols-1 md:grid-cols-2 max-w-7xl w-full bg-[#F6F8F4] rounded-xl shadow-lg overflow-hidden">
    <div class="p-10">
      <h2 class="text-2xl font-semibold mb-2 text-teal-800">Create an Account!</h2>
      <p class="text-gray-500 mb-6">
        Sign in to access your dashboard and continue optimizing your QA process.
      </p>
      <form [formGroup]="signUpForm" (ngSubmit)="submit()" class="space-y-5 p-6">
        <!-- Name -->
        <mat-form-field appearance="outline" class="w-full" floatLabel="auto" hideRequiredMarker="true">
          <mat-label>First Name</mat-label>
          <input matInput formControlName="firstName" />
          @if (
          signUpForm.controls['firstName'].touched &&
          signUpForm.controls['firstName'].hasError('required')
          ) {
          <mat-error> First Name is required. </mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-full" floatLabel="auto" hideRequiredMarker="true">
          <mat-label>Last Name</mat-label>
          <input matInput formControlName="lastName" />
          @if (
          signUpForm.controls['lastName'].touched &&
          signUpForm.controls['lastName'].hasError('required')
          ) {
          <mat-error> Last Name is required. </mat-error>
          }
        </mat-form-field>
        <!-- Email -->
        <mat-form-field appearance="outline" class="w-full" floatLabel="auto" hideRequiredMarker="true">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" />
          @if (
          signUpForm.controls['email'].touched && signUpForm.controls['email'].hasError('required')
          ) {
          <mat-error> Email is required. </mat-error>
          }
          @if (
          signUpForm.controls['email'].touched && signUpForm.controls['email'].hasError('email')
          ) {
          <mat-error> Invalid email format. </mat-error>
          }
        </mat-form-field>

        <!-- Password -->
        <mat-form-field appearance="outline" class="w-full" floatLabel="auto" hideRequiredMarker="true">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" />
          @if (
          signUpForm.controls['password'].touched &&
          signUpForm.controls['password'].hasError('required')
          ) {
          <mat-error> Password is required. </mat-error>
          }
          @if (
          signUpForm.controls['password'].touched &&
          signUpForm.controls['password'].hasError('pattern')
          ) {
          <mat-error>
            Password must contain at least 8 characters, including uppercase, lowercase, number, and a
            special character.
          </mat-error>
          }
        </mat-form-field>

        <!-- Confirm Password -->
        <mat-form-field appearance="outline" class="w-full" floatLabel="auto" hideRequiredMarker="true">
          <mat-label>Confirm Password</mat-label>
          <input matInput type="password" formControlName="confirmPassword" />
          @if (
          signUpForm.controls['confirmPassword'].touched &&
          signUpForm.controls['confirmPassword'].hasError('passwordMismatch')
          ) {
          <mat-error> Passwords do not match. </mat-error>
          }
        </mat-form-field>

        <!-- Signup Button -->
        <button mat-raised-button color="primary"
          class="w-full bg-teal-700! text-white! py-3! rounded-full! hover:bg-teal-800! transition-all duration-200 shadow-md"
          type="submit">
          Sign Up
        </button>
        <div class="flex justify-center">
          <span>Already have an account?&nbsp;</span>
          <a routerLink="/login" class="text-teal-800 cursor-pointer"> Sign In </a>
        </div>
      </form>
    </div>

    <div class="hidden md:flex flex-col justify-center text-white p-10 bg-teal-800">
      <h2 class="text-3xl font-semibold mb-4">Make your city cleaner today!</h2>

      <p class="opacity-90 mb-6">
        “SoftQA has completely transformed our testing process. It's reliable, efficient, and
        ensures our releases are always top-notch.”
      </p>

      <!-- <div class="flex items-center gap-3">
        <img src="https://i.pravatar.cc/40" class="rounded-full">
        <div>
          <p class="font-semibold">Michael Carter</p>
          <p class="text-sm opacity-80">Software Engineer</p>
        </div>
      </div> -->

      <div class="mt-10 opacity-80 text-sm">Join 1k+ users</div>
    </div>
  </div>
</div>