<mat-card class="p-4 hover:shadow-lg transition bg-white!">
     <div class="flex justify-between">
          <div class="flex justify-start items-center gap-4">
               <img src="https://i.pravatar.cc/40" class="rounded-full">
               <h3 class="font-semibold text-lg">
                    John Doe
               </h3>
          </div>

          <div class="flex justify-between items-center mt-4 gap-4">
               <button mat-icon-button disableRipple class="bg-white! text-teal-800! rounded-sm">
                    <mat-icon>check</mat-icon>
               </button>
               <button mat-icon-button disableRipple class="bg-white! text-red-600! rounded-sm">
                    <mat-icon>close</mat-icon>
               </button>
          </div>
     </div>
</mat-card>